.cool{
    font-size:30px;
    color:green;
}
.beautify{
    background-color:yellow;
    font-weight: BeforeUnloadEvent;
    color:HTMLOptGroupElement;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
}
#big{
font-size:20px;
fonr-weight:bold
}
 
#small{
font-size:10px;
}

.pretty{
 color:pink;
font-style:italic;
}
 
.border{
border-style:dashed;
border-color:green;
}